.herocontainer {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
}
.timepass {
  color: transparent;
  font-family: "Syne", sans-serif;
  -webkit-text-stroke: 1px #fff;
  font-size: 4rem;
}
.title {
  margin: 4rem 0 0 0rem;
  color: white;
}

.title h2 {
  font-size: 7rem;
  font-weight: 800;
  margin-bottom: 1rem;
  text-transform: uppercase;
  /* font-family: "Syne", sans-serif; */
}
.title h3 {
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.439);
  margin-bottom: 3rem;
}

.titleimage img {
  width: 20rem;
}
.searchbar {
  margin: 5rem 0 0 8rem;

  width: 100%;
  display: flex;
  align-items: center;
  height: 5rem;
  background-color: rgb(255, 255, 255);
  gap: 1rem;
  padding: 0.5rem;
  border-radius: 10px;
}
.searchbar i {
  background-color: var(--colortheme);
  color: white;
  font-size: 2rem;
  border-radius: 10px;
  padding: 1rem;
  cursor: pointer;

  text-align: center;
}
.searchbar input {
  width: 100%;
  height: 2rem;
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 1.5rem;
}
.book_button button {
  margin-top: 3rem;
  font-size: 1.5rem;
  padding: 1rem;
  font-size: 2rem;
  background: transparent;

  font-family: "Syne", sans-serif;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  border: none;
  transition: 0.5s;
}
.book_button button:hover {
  background-color: black;
  -webkit-text-stroke: 1px #ffffff;
}
